body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./Imagenes/FONDOBANER.jpg'); /* Cambia 'background.jpg' por la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al fondo del body */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
}

header {
    background-color: #FFA500; /* Naranja suave */
    padding: 20px 10px; /* Aumenté el padding para más espacio */
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 130px; /* Ajusta el tamaño según tu necesidad */
}

#slogan,
#subSlogan {
    font-size: 40px; /* Tamaño del texto del eslogan y subeslogan */
    color: #a45001; /* Color del texto */
    margin: 10px 0; /* Espacio entre las frases y el logo */

    font-family: 'Raleway', sans-serif;
}

#subSlogan {
    color: #004080; /* Color del subeslogan */
    font-size: 25px; /* Tamaño del texto del eslogan y subeslogan */
    font-family: 'Dancing Script', cursive;
    font-family: 'Dancing Script', cursive;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #FFF; /* Texto blanco */
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s ease; /* Agregado para suavizar la transición */
    font-size: 22px; /* Tamaño del texto de las pestañas */
}

nav a:hover {
    background-color: #FFF; /* Fondo blanco al pasar el ratón */
    color: #FFA500; /* Texto naranja al pasar el ratón */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF; /* Fondo blanco */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra */
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: #000; /* Texto negro */
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease; /* Agregado para suavizar la transición */
    font-size: 16px; /* Tamaño del texto del submenú */
}

.dropdown-content a:hover {
    background-color: #FFA500; /* Fondo naranja al pasar el ratón */
    color: #FFF; /* Texto blanco al pasar el ratón */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.dropdown-content ul {
    list-style-type: none; /* Quita las viñetas de la lista desordenada */
}

#noticias, #contacto {
    background-color: #FFA500;
}

#noticias:hover, #contacto:hover {
    background-color: #FFF;
    color: #FFA500;
    transform: scale(1.1);
}

main {
    width: 100%;
    overflow: hidden;
}



#banner {
    width: 50%;
    margin-top: 10;
    margin: 0 auto; /* Agregado para centrar horizontalmente */
    white-space: nowrap;
    overflow: hidden;
    text-align: center; /* Centra el contenido del banner */

    
   
}

.banner-img {
    margin-top: 10;
    max-width: 100%; /* Ajusta el tamaño máximo al 100% */
    height: auto;
    display: inline-block;
    vertical-align: middle; /* Centra verticalmente */
}

.dropdown-content li {
    list-style: none; /* Quita las viñetas de los elementos li dentro de dropdown-content */
}


#quienes-somos {
    padding: 40px; /* Espaciado interno */
    text-align: center;
}

.quienes-somos-article {
    display: flex; /* Utiliza flexbox para distribuir las columnas */
    max-width: 1200px; /* Ancho máximo para los artículos */
    margin: 0 auto 30px; /* Centrar horizontalmente y agregar margen inferior */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde para separar los artículos */
    background-image: url('./Imagenes/fondoBanner1\ \(2\).jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al fondo del article */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto tridimensional */
    transition: transform 0.3s ease-in-out; /* Agregado para suavizar la transición al pasar el ratón */
}

.quienes-somos-article:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.column {
    flex: 1; /* Cada columna ocupa la misma cantidad de espacio */
    padding: 0 10px; /* Agrega espacio entre las columnas */
    text-align: center; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

.quienes-somos-article h2 {
    color: #a45001; /* Color del título */
    font-size: 24px; /* Tamaño del título */
}

.quienes-somos-article p {
    color: #000; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
}

.article-img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10px; /* Agrega margen superior a la imagen */
}

footer {
    background-color: #FFA500; /* Color similar al encabezado */
    padding: 20px;
    text-align: center;
    
    display: flex;
    justify-content: space-around; /* Espaciado uniforme entre las secciones */
}

/* Estilo para las secciones de redes sociales y ubicación */
.redes-sociales,
.ubicacion {
    flex: 1;
    max-width: 300px; /* Ancho máximo para cada sección */
    
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición de color al pasar el ratón */
}

.redes-sociales:hover,
.ubicacion:hover {
    background-color: #FFD700; /* Color al pasar el ratón */
}

.redes-sociales h3,
.ubicacion h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.redes-sociales ul {
    list-style: none;
    padding: 0;
}

.redes-sociales li {
    margin-bottom: 10px;
}

.redes-sociales a,
.ubicacion a {
    text-decoration: none;
    
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.redes-sociales a:hover,
.ubicacion a:hover {
    background-color: #FFF; /* Color al pasar el ratón */
    color: #FFA500; /* Texto al pasar el ratón */
}

/* Nueva sección de contacto */
.contacto {
    flex: 1;
    max-width: 300px; /* Ancho máximo para la sección de contacto */

    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición de color al pasar el ratón */
}

.contacto:hover {
    background-color: #FFD700; /* Color al pasar el ratón */
}

.contacto h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.contacto ul {
    list-style: none;
    padding: 0;
}

.contacto li {
    margin-bottom: 10px;
}

.contacto a {
    text-decoration: none;
    
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.contacto a:hover {
    background-color: #FFF; /* Color al pasar el ratón */
    color: #FFA500; /* Texto al pasar el ratón */
}

#main-pagina2 {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 30px;
    max-width: 1200px; /* Ancho máximo para mantener el contenido centrado */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    margin-top: 30px;
}

#main-title {
    margin-top: 40px;
    
    font-size: 36px; /* Tamaño del título */
    color: #004080; /* Color del texto del título */
    margin-bottom: 30px; /* Espacio entre el título y los artículos */
    text-align: center; /* Centra el texto en el main */
}

.modern-article {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center; /* Centra el contenido */
}

.modern-article:hover {
    transform: scale(1.05);
}

.modern-article h2 {
    color: #004080;
    font-size: 20px;
    margin-bottom: 10px;
}

.modern-article img {
    max-width: 100%;
    height: auto;
}

.modern-article p {
    color: #000;
    font-size: 14px;
}

/* Artículos con clase image-only (primeros tres artículos) */
.image-only {
    background-color: #FFF; /* Cambia al color que desees para el fondo */
    padding: 0; /* Elimina el relleno para que la imagen ocupe todo el artículo */
    text-align: center; /* Centra el contenido */
   
}

.image-only img,
.text-and-image img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 400px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */
}

.text-and-image {
    background-color: #FFF;
    padding: 20px; /* Ajusta el padding según tus preferencias */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.text-and-image img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.text-and-image h2 {
    color: #004080;
    font-size: 20px;
    margin-bottom: 0px;
}

.text-and-image p {
    color: #000;
    font-size: 14px;
}

.modern-article.text-and-image {
    background-image: url('./Imagenes/fondoArticleInicial.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al fondo del artículo */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-color: transparent; /* Hace que el fondo blanco sea transparente para ver la imagen de fondo */
}
#footerInicial{
    background-color: #FFA500;
    padding: 5px; /* Ajusta el padding para hacer el pie de página más pequeño */
    text-align: center;
    margin-top: 20px;
}
/* Estilo para el main */



#background-container {
   
    padding: 20px;
}

#main-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #004080;
    margin-top: 20px;
}

#main-pagina3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para los articles */
.modern-article-B {
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.modern-article-B:hover {
    transform: scale(1.05);
}

.modern-article-B h2 {
    color: #004080;
    font-size: 20px;
    margin-bottom: 10px;
}

.modern-article-B img {
    max-width: 100%;
    height: auto;
    
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 400px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */


    
}

.modern-article-B p {
    color: #000;
    font-size: 14px;
}

.modern-article-B.text-and-image{

    background-image: url('./Imagenes/fondoArticleIPrimaria.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al fondo del artículo */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-color: transparent; /* Hace que el fondo blanco sea transparente para ver la imagen de fondo */
}





.banner-images img {
    max-width: 400px; /* Ajusta el tamaño máximo según tus preferencias */
    width: 100%; /* Garantiza que las imágenes no superen el tamaño máximo */
    height: auto; /* Mantiene la proporción original de las imágenes */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    display: block; /* Elimina el espacio adicional debajo de las imágenes */
}




/* Estilo de cada imagen */
#banner-container-basica img {
    width: 81%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: 400px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */
    transition: opacity 0.3s ease-in-out; /* Añade transición para suavizar el cambio de imágenes */
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Estilo para los artículos */
.modern-article-basica {
    background-image: url('./Imagenes/texturaBasicaSuperior.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    margin-bottom: 20px; /* Agrega un margen inferior para separar verticalmente */
    margin-right: 30px;
}

.modern-article-basica:hover {
    transform: scale(1.1); /* Cambia la escala al pasar el ratón por encima */
}

.modern-article-basica h2 {
    color: #030609;
    font-size: 20px;
    margin-bottom: 10px;
}

.modern-article-basica img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 300px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */

}

.modern-article-basica p {
    color: #000;
    font-size: 14px;
}

/* Estilo específico para la primera fila (títulos, imágenes y texto) */
#main-basica-superior-basica {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.slick-prev, .slick-next {
    font-size: 24px; /* Tamaño del ícono de flecha */
    color: #004080; /* Color de las flechas */
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    position: absolute; /* Posición absoluta en relación con el contenedor del carrusel */
    top: 50%; /* Coloca las flechas en el centro vertical */
    transform: translateY(-50%); /* Ajusta la posición vertical en relación con el tamaño de las flechas */
}

.slick-prev {
    left: 10px; /* Posiciona la flecha izquierda a 10px del borde izquierdo */
}

.slick-next {
    right: 10px; /* Posiciona la flecha derecha a 10px del borde derecho */
}

nav {
    z-index: 1000; /* Ajusta este valor según sea necesario */
}
header {
    position: relative;
    z-index: 2; /* Ajusta según sea necesario */
}

/* Estilo del carrusel */
.slick-carousel {
    position: relative;
    z-index: 1; /* Ajusta según sea necesario */
}



/* Estilo específico para los articles de la página de Bachillerato */
.modern-article-bachillerato {
    background-image: url('./Imagenes/fondoBachillerato.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    margin-bottom: 20px; /* Agrega un margen inferior para separar verticalmente */
    margin-left: 20px;
}

.modern-article-bachillerato:hover {
    transform: scale(1.1); /* Cambia la escala al pasar el ratón por encima */
}

.modern-article-bachillerato h2 {
    color: #004080;
    font-size: 20px;
    margin-bottom: 10px;
}

.modern-article-bachillerato img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 300px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */
}

.modern-article-bachillerato p {
    color: #000;
    font-size: 14px;
}

/* Estilo específico para el contenedor principal */
#main-bachillerato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}







#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form textarea {
    resize: vertical; /* Permite redimensionar verticalmente solo */
}

#contact-form button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#contact-form button:hover {
    background-color: #00214d;
}





/* Estilo para el contenedor principal */
#main-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre secciones */
    margin-left: 90px;
    
}

/* Estilo para centrar el título */
.centered {
    text-align: center;
}
.centered h2 {
    color: #004080;
    font-weight: bold; /* Añade negrilla */
    font-size:200%;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
}

/* Estilo para cada sección de eventos */
.event-section {
    display: flex;
    flex-wrap: wrap; /* Permite que los artículos se envuelvan a la siguiente línea si no hay espacio suficiente */
    justify-content: center; /* Centra los artículos horizontalmente */
    gap: 20px; /* Espacio entre artículos */
}

/* Estilo para los artículos de eventos */
.event-article {
    flex: 1;
    max-width: 500px; /* Ajusta el ancho máximo de los artículos según sea necesario */
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Estilo para las imágenes de eventos */
.event-article img {
    width: 500px; /* La imagen ocupa el 100% del ancho del artículo */
    height: 400px; /* Mantiene la proporción original de la imagen */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera alrededor de la imagen */
    transition: transform 0.3s ease-in-out; /* Efecto de transición suave */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
}

/* Efecto de escala al pasar el ratón sobre la imagen */
.event-article img:hover {
    transform: scale(1.1);
}


.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px; /* Ajusta según sea necesario */
    margin-bottom: 5px;
    background-color: #004080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #002040; /* Color al pasar el ratón */
}






.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #004080;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #002040;
}

.content {
    margin-left: 220px; /* Ajusta según el ancho de la barra lateral */
    padding: 20px;
}

.centered {
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #004080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #002040;
}

.event-section {
    margin-top: 40px;
}

.event-section h3 {
    color: #004080;
}




/* transporte */


.transport-container {
    position: relative;
    margin-bottom: 20px;
}

.transport-image {
    position: relative;
    overflow: hidden;
}

.main-image {
    width: 100%;
    transition: filter 0.5s ease; /* Transición de suavizado */
}

.articles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease; /* Transición de opacidad */
   
}

.transport-article {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
}

.transport-article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 1; /* Ajusta el valor de opacidad según sea necesario */
}


.transport-article p {
    text-align: justify;
    max-width: 430px; /* Establece el ancho máximo según tus necesidades */
    margin-left: 10px; /* Ajusta el valor según sea necesario */
    word-wrap: break-word;
}

.transport-image:hover .main-image {
    filter: brightness(0.7); /* Suavizado al pasar el cursor */
}

.transport-image:hover .articles-container {
    opacity: 1; /* Hacer visible al pasar el cursor */
}

.transport-article h3 {
    color: #0000FF; /* Cambia el valor al código de color azul que prefieras para el título */
}




/* Clubs */

.clubs-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.club {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.club:hover {
    transform: scale(1.1);
}

.club img {
    
    border-radius: 10px;

    width: 300px; /* La imagen ocupa el 100% del ancho del artículo */
    height: 400px; /* Mantiene la proporción original de la imagen */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera alrededor de la imagen */
    transition: transform 0.3s ease-in-out; /* Efecto de transición suave */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */


}





.club-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; /* Color del título */
    opacity: 0.8; /* Ajusta la opacidad según sea necesario */
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar los cambios de opacidad */
}

.club:hover .club-title {
    opacity: 1; /* Hace que el título sea completamente visible al pasar el cursor sobre la imagen */
}

.clubs-section {
    display: flex;
}

.club {
    position: relative;
    overflow: hidden;
}

.club img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    width: 300px; /* La imagen ocupa el 100% del ancho del artículo */
    height: 400px; /* Mantiene la proporción original de la imagen */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera alrededor de la imagen */
    transition: transform 0.3s ease-in-out; /* Efecto de transición suave */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
}

.club h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    color: #000000; /* Color del texto */
    opacity: 0; /* Inicialmente, el título es transparente */
    transition: opacity 0.3s ease;
}

.club:hover img {
    opacity: 0.7; /* Cambia la opacidad de la imagen al pasar el cursor */
}

.club:hover h2 {
    opacity: 1; /* Hace visible el título al pasar el cursor */
}



.article-sectionC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 100px;
   
    
}

.article-sectionC article {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: url('./Imagenes/fondoarti.webp'); /* Cambia por la ruta de tu imagen de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.article-sectionC article h2 {
    color: #004080; /* Color del título */
}

.article-sectionC  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 800px; /* La imagen ocupa todo el ancho del contenedor */
    height: 300px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción y corta la imagen si es necesario */
    border-radius: 10px; /* Añade esquinas redondeadas */
}

.article-sectionC article p {
    color: #333; /* Color del texto */
    text-align: justify;
    max-width: 800px; /* Establece el ancho máximo según tus necesidades */
    margin-left: 10px; /* Ajusta el valor según sea necesario */
    word-wrap: break-word;
    margin-top: 30px;
    font-size: 20px;
    

}





.article-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
   
}
.article-container {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    
}

.centered-article,
.horizontal-images-article {
    width: 550px; /* Ancho fijo para ambos tipos de artículo */
    height: 600px; /* Altura fija para ambos tipos de artículo */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.centered-article img,
.horizontal-images-article img {
    width: 100%; /* La imagen ocupa todo el ancho del artículo */
    height: 100%; /* La imagen ocupa todo el alto del artículo */
   
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.centered-article:hover img,
.horizontal-images-article:hover img {
    opacity: 0.7;
}

.centered-article:hover .overlay,
.horizontal-images-article:hover .overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.overlay h2 {
    margin: 0;
    color: #10098bbd; /* Color de texto negro */
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.centered-article a,
.horizontal-images-article a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.centered-article a:hover,
.horizontal-images-article a:hover {
    text-decoration: none;
    color: inherit;
}

.quienes-somos-article p{

    color: #333; /* Color del texto */
    text-align: justify;
    
    margin-left: 20px; /* Ajusta el valor según sea necesario */
    margin-right: 50px;
    word-wrap: break-word;
    margin-top: 30px;
    font-size: 18px;
}

.modern-article.text-and-image p{

    color: #333; /* Color del texto */
    text-align: justify;
    
   
    word-wrap: break-word;
    margin-top: 30px;
    font-size: 18px;
}
.modern-article-B.text-and-image p {

    color: #333; /* Color del texto */
   
    text-align: justify;
    
    word-wrap: break-word;
    
    font-size: 17px;
    margin-left: 20px;
    margin-right: 30px;
}

.modern-article-basica p{

    color: #333; /* Color del texto */
   
    text-align: justify;
    
    word-wrap: break-word;
    
    font-size: 17px;
    margin-left: 20px;
    margin-right: 30px;
}

.modern-article-bachillerato p{

    color: #333; /* Color del texto */
   
    text-align: justify;
    
    word-wrap: break-word;
    
    font-size: 17px;
    margin-left: 20px;
    margin-right: 30px;
}

.modern-article-bachillerato h2{

    
    font-size: px;
    
}

.seccion-adicional {
    
    padding: 20px; /* Espacio interno */
}

.seccion-adicional article {
    margin-bottom: 70px; /* Espacio entre artículos */
    padding: 20px; /* Espacio interno */
    background-color: white; /* Color de fondo para cada artículo */
    margin-top: 80px;
    background-image: url('./Imagenes/texturaBasicaSuperior.jpg'); /* Cambia por la ruta de tu imagen de fondo */

}

.seccion-adicional article h2 {
    text-align: center;
}

.seccion-adicional article .imagenes {
    display: flex;
    justify-content: space-between; /* Espacio igual entre las imágenes */
}

.seccion-adicional article .imagenes img {
    width: 30%; /* Ancho de cada imagen */
    border-radius: 5px; /* Bordes redondeados */
}